SQLC_AUTH_TOKEN=<SQLC cloud api key>
DB_DRIVER=postgres
DB_SOURCE=postgres://<user>:<password>@localhost:5432/simple_bank?sslmode=disable
SERVER_ADDRESS=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=this_must_be_at_least_32_characters_long
ACCESS_TOKEN_DURATION=15m